<%= form_with url: "/events", method: :get do |form| %>
  <%= render "./date_form", form: form %>
<%= form.submit "Search", class: 'btn btn-primary standard-margin-top' %>
<% end %>

<div class="standard-margin-top">
  <h4>Events on given date(<%= @events.count %>)</h4>
  <div class="container">
    <ul class="list-group">
      <% @events.each do |event| %>
      <div>
        <li><%= event.title %></li>
      </div>
      <% end%>
    </ul>
  </div>
</div>
